/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
========================
General rules
========================
*/
body {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: Lato, Open Sans, Helvetica, sans-serif;
}


/*
========================
Header styling
========================
*/

.head {
/*	visibility: hidden;*/
	display: flex;
	justify-content: space-between;
	width: 100vw;
	height: 80px;
	position: fixed;
	z-index: 1;
	border-bottom: 1px solid black;
}
.head-title {
	align-self: flex-end;
	font: 48px/1.5em "Fredoka One", cursive, 
	Helvetica, Open Sans, sans-serif;
}
.head-nav {
	align-self: center;
}
.nav-items {
	display: inline;
	list-style-type: none;
	margin: auto 40px;
	font-size: 24px;

}

/*
========================
Section styles
========================
*/
.main-section {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.section-title {
/*	margin-left: var(--text-padding);
	margin-top: 35vh;*/
	font-size: 40px;
}
.section-text {
/*	margin-left: var(--text-padding);
	border: 1px solid black;*/
	margin-top: 10px;
	font-size: 24px;
}
.personal-img {
	z-index: 1;
	width: 22vw;
	min-width: 350px;
	border-radius: 50%;
}
.container {
	margin-left: 15px;
	width: 40%;
	min-width: 640px;
	height: fit-content;
}
.img-container{
	height: fit-content;
}
/*
========================
Home
========================
*/
#home-section {
	background-color: #aea;
}

/*
========================
Projects
========================
*/
#project-section {
	background-color: #aaa;
}
/*
========================
Contact info
========================
*/
#contact-information {
	background-color: #aae;
}

/*
========================
Media queries
========================
*/
@media (max-width: 1075px) {
	.main-section {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
@media only screen and (hover: none) and (pointer: coarse){
	/*STYLING FOR MOBILE PHONES GOES HERE*/
}
/*
========================
TODO
========================
*/
/*
- When screen width starts to become smaller and smaller, do something
with the introductory text so it shrinks and is visible to user.
- Think about display for mobile phones

*/