/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
========================
General rules
========================
*/
body {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	overflow-x: hidden;
	font-family: Lato, Open Sans, Helvetica, sans-serif;
}


/*
========================
Header styling
========================
*/

.head {
/*	visibility: hidden;*/
	background-color: #00BAB9;
	display: flex;
	justify-content: space-between;
	width: 100vw;
	height: 80px;
	position: fixed;
	z-index: 1;
}
.head-title {
	align-self: flex-end;
	font: 48px/1.5em "Fredoka One", cursive, 
	Helvetica, Open Sans, sans-serif;
}
.head-nav {align-self: center;}

.nav-list {display: flex;}

.nav-items {
	display: inline;
	list-style-type: none;
	margin: auto 40px;
	font-size: 24px;
}
.internal-link {
	text-decoration: none;
	color: #000;
}
.internal-link:hover {color: #fff;}

/*
========================
Section styles
========================
*/
.main-section {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.section-title {
/*	margin-left: var(--text-padding);
	margin-top: 35vh;
	color: #cfcfcf;*/
	font-size: 40px;
	font-weight: 700;
}
.section-text {
/*	margin-left: var(--text-padding);
	border: 1px solid black;*/
	margin-top: 10px;
	font-size: 24px;
}
/*
========================
Home
========================
*/
#home-section {
	background: linear-gradient(#0b017b, #1b02d9, #0a77f0);
/*	background: linear-gradient(90deg, #023535, #008F8C);*/
}
.personal-img {
	z-index: 1;
	width: 22vw;
	min-width: 400px;
	border-radius: 50%;
}
.text-container {
	margin-left: 15px;
	width: 40%;
	min-width: 640px;
	height: fit-content;
}
.img-container{
	height: fit-content;
}

/*
========================
Projects
========================
*/
#project-section {
	background: linear-gradient(#0a77f0, #1b02d9, #0b017b);
	display: flex;
	height: fit-content;
	padding-top: 40px;
	padding-bottom: 40px;
	flex-direction: column;
	justify-content: flex-start;
}
#project-section .section-title {
	margin-top: 100px;
	font-size: 54px;
}
.projects-container {
	width: 100vw;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.project-figure {
	width: fit-content;
	margin-top: 50px;
	border: 1px solid black;
}
.project-icon {
	width: 400px;
	height: 400px;
}
.icon-caption {
/*	background-color: #bbb;*/
	text-align: center;
	line-height: 2em;
	font-size: 20px;
	text-shadow: 1px 1px #aaa;
	border-top: 1px solid black;
}
/*
========================
Contact info
========================
*/
#contact-information {
	background: linear-gradient(#0b017b, #1b02d9, #0a77f0);
	flex-direction: column;
}
#contact-information .section-title {
	font-size: 50px;
}
.section-subtitle {
	font-style: italic;
	font-weight: 400;
	font-size: 28px;
	line-height: 2em;
}

/*
========================
Social media
========================
*/
.social-media {
	display: flex;
	width: 100%;
	justify-content: center;
}
.media-link {
	width: fit-content;
	margin: 10px 40px;
}
.icon {
	color: #000;
}
.icon:hover {
	color: #fff;
} 

/*
========================
Media queries
========================
*/
@media only screen and (max-width: 1075px) {
	/*
	Tackles orientation of home section elements to appear
	nicely in window
	*/
	.main-section {
		flex-direction: column;
		justify-content: center;
		align-items: center;	
	}
	.text-container {
		margin-top: 20px;
	}
}
@media only screen and (max-width: 700px) {
	/*Tackles text adaptation to still fit the window size*/
	.text-container {
		width: 80% !important; 
		min-width: 80% !important;
		/*min-width: 280px !important;*/
	}
	.section-text{font-size: 23px;}
}
@media only screen and (max-width: 400px) {
	.personal-img{
		display: none;
	}
	#project-section .section-title {
		width: 100vw;
	}
	.project-icon {
		width: 80vw;
		height: 80vw;
	}
}
@media only screen and (hover: none) and (pointer: coarse){
	/*STYLING FOR MOBILE PHONES GOES HERE*/
}
/*
========================
TODO
========================
*/
/*
- Think about display for mobile phones

*/